<div class="row mt-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <h4 class="text-primary mb-4">Sign In</h4>
        <div class="alert alert-danger" role="alert" *ngIf="isError">
            This is a danger alert—check it out!
        </div>
        <form (ngSubmit)="signIn()" #signInForm="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">UserName</label>
                    <input type="email" class="form-control" placeholder="UserName" id="username" name="username"
                        [(ngModel)]="user.username" #username="ngModel" required>
                    <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                        Email is required
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                        [(ngModel)]="user.password" required #password="ngModel">
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        Password is required
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!signInForm.form.valid">Sign In</button>
        </form>
    </div>
</div>