<div class="row mt-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <h4 class="text-primary mb-4">Sign In</h4>
        <div class="alert alert-danger" role="alert" *ngIf="isError">
            This is a danger alert—check it out!
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">UserName</label>
                    <input type="email" class="form-control" id="email" placeholder="UserName" name="username"
                        [(ngModel)]="user.username">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                        [(ngModel)]="user.password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="signIn()">Sign In</button>
        </form>
    </div>
</div>