<div class="row mt-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <h4 class="text-primary mb-4">Sign In</h4>
        <div class="alert alert-danger" role="alert" *ngIf="isError">
            This is a danger alert—check it out!
        </div>
        <form (ngSubmit)="signInForm.form.valid && signIn()" #signInForm="ngForm" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">UserName</label>
                    <input type="email" class="form-control" placeholder="UserName" id="username" name="username"
                        [(ngModel)]="user.username" #username="ngModel" required
                        [ngClass]="{ 'is-invalid': signInForm.submitted && username.invalid }">
                    <div *ngIf="signInForm.submitted && username.invalid" class="invalid-feedback">
                        <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                        [(ngModel)]="user.password" required #password="ngModel"
                        [ngClass]="{ 'is-invalid': signInForm.submitted && password.invalid }">
                    <div *ngIf="signInForm.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <button type="button" class="btn btn-link" [routerLink]="['/signup']">Register</button>
        </form>
    </div>
</div>